body {
  font-family: 'Merienda One', cursive;
  color: #323255;
  background: #FEFEFE url('img/bg.jpg') repeat;
}

p {
  font-family: 'Abel', sans-serif;
  color: #5B5B77;
}

h2 {
  text-align: center;
}

ul {
  list-style: none;
}

li {
  text-align: center;
}

p {
  text-align: center;
  margin-top: 0.1em;
}

.line-separator {
  height: 1px;
  background: #717171;
  border-bottom: 1px solid #313030;
}

#logo {
  padding-top: 30px;
  text-align: center;
}

#logo img {
  border: 0.5em double #5B5B77;
  border-radius: 20px;
  padding: 5px;
}

#appetizers {
  display: inline;
  float: left;
}

#salads {
  display: inline;
  float: right;
}
